- const getInputName = (f, property) => f[property];

mixin formFor(form, errors, options = {})
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase();
  - const isStandart = _.includes(['get', 'post'], method);
  - const id = _.get(options, 'id');
  form(action= url method= isStandart ? method : 'post' id=id || '')
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block

mixin jumb
  .col-md-6.mx-auto
    .jumbotron.mt-5
      block 

mixin alert(flash)
  if flash && flash.message
    .alert.alert-info.m-3= flash.message

mixin input(form, errors, property, options = { as: 'text', label: property })
  - const value = form[property] === undefined ? '' : form[property]
  .form-group(class=(errors[property] && 'has-danger'))
      label= options['label']
      input(name=property class='form-control' type=options['as'] value=`${value}`)
      if errors[property]
        .form-control-feedback.small.form-text.text-muted= errors[property].map(({ message }) => message).join('. ')

mixin button(form, options = { type: 'submit', value: 'Save', class: '' } )
  .form-group
    input.btn.btn-primary(class=options.class, type=`${options.type}` value=`${options.value}`)


mixin card(task)
  .card.mx-3.mb-3(style="width: 18rem")
    .card-header Status: #{task.Status.name}
    .card-body
      h4.card-title= task.name
      h6.card-text.text-muted created by: #{task.creator.getFullName()}
      h6.card-text.text-muted assigned to: #{task.assignedTo.getFullName()}
      each tag in task.Tags
        span.badge.badge-primary.mx-1= tag.name
      .row.mt-2
        a.card-link.mx-auto(href=urlFor('task', task.id)) Open
        
      

mixin select(form, errors, property, label, values, formId)
  - const value = form[property] === undefined ? '' : form[property]
  .form-group
    label= label
    select(class="form-control", name=property, form=formId)
      each val in values
        - const username = val.getFullName  
        if username
          option(value=val.id)= val.getFullName()
        else
          option(value=val.id)= val.name


mixin menu() 
  .row.mx-auto.mb-3
    a.btn.btn-outline-primary.mx-auto(href=urlFor('taskNew'), role="button") Create new task
    a.btn.btn-outline-primary.mx-auto(href=urlFor('statusNew'), role="button") Create new status
    a.btn.btn-outline-primary.mx-auto(href=urlFor('statuses'), role="button") Show all statuses

mixin text(form, label, property, formId)
  - const value = form[property] === undefined ? '' : form[property]
  .form-group
    label= label
    textarea(class="form-control", name="description", form=formId)= value